/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Taviraj', serif;
}


nav ul a,
nav .brand-logo {
  color: #f9a825;
}

nav .brand-logo {
font-family: 'Caveat', cursive;

}

nav .nav-wrapper {
    padding: 0 50px;
    }

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #f9a825;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.section-intro {
  height: 100%;
  width: 100%;

}

.header {
  margin-top: 6%;
}

.header-subtitle {
  margin-top: 5%;
  font-size: 1.5em;
}


nav .nav-wrapper {
    padding: 0 10px;
}

}


.col-servizio  {
  margin-top: 60px;
  margin-bottom: 100px;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#servizio h5 {
  font-size: 1.3em;
  line-height: 1.6em;
}


.immagine1{
   display:inline-block;
   width: 100%;
}

.section-registrazione {
   width: 100%;
   height:100%;
}



.registrazione-icon {
  font-size: 7em;
  margin-top: 60px;
}

.registrazione-subtitle {
  font-size: 1.3em;
  margin-top: 5%;
}

.btn-registrazione {
  width: 100%;
}

.ospita-icon {
  font-size: 7em;
  margin-top: 60px;
}

.ospita-subtitle {
  font-size: 1.3em;
  margin-top: 5%;
  line-height: 2em;
}

.btn-ospita {
  width: 100%;
}

footer.page-footer {
  margin: 0;
  background-color: #00B4D8;
}

.social-icon {
  font-size: 1.5em;
  color: #FFF ;
  padding: 0 20px;
}

.social-icon: hover {
color: #F7D417;
}
